@model JobsApplication.Models.JobsOfferViewModel

@{
    ViewBag.Title = "APIs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>APIs</h2>

<p>
    <strong>GET http://localhost:49292/api/JobsOfferAPI/</strong> - For show all products
    <strong>POST http://localhost:49292/api/JobsOfferAPI/ </strong> - For add a product
    <strong>PUT http://localhost:49292/api/JobsOfferAPI/{id} </strong> - For update a product
    <strong>DELETE http://localhost:49292/api/JobsOfferAPI/{id} </strong> - For delete a product
</p>

